<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fengzihub.p2p.business.mapper.BidRequestAuditHistoryMapper" >
  <resultMap id="BaseResultMap" type="cn.fengzihub.p2p.business.domain.BidRequestAuditHistory" >
    <id column="id" property="id" />
    <result column="state" property="state" />
    <result column="remark" property="remark" />
    <result column="auditTime" property="auditTime" />
    <result column="applyTime" property="applyTime" />
    <result column="bidRequestId" property="bidRequestId" />
    <result column="auditType" property="auditType" />


    <association property="applier" columnPrefix="ap_" javaType="cn.fengzihub.p2p.base.domain.Logininfo">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>
    <association property="auditor" columnPrefix="au_" javaType="cn.fengzihub.p2p.base.domain.Logininfo">
      <id column="id" property="id"/>
      <result column="username" property="username"/>
    </association>


  </resultMap>

  <insert id="insert" parameterType="cn.fengzihub.p2p.business.domain.BidRequestAuditHistory" useGeneratedKeys="true" keyProperty="id" >
    insert into `bidrequestaudithistory` (state, remark, auditTime, applyTime, auditor_id, applier_id, 
      bidRequestId, auditType)
    values (#{state}, #{remark}, #{auditTime}, #{applyTime}, #{auditor.id}, #{applier.id},
      #{bidRequestId}, #{auditType})
  </insert>
  <select id="queryByBidRequestId" resultMap="BaseResultMap">
    select brh.id, brh.state, brh.remark, brh.auditTime, brh.applyTime, brh.auditor_id, brh.applier_id,
      brh.bidRequestId, brh.auditType,
      ap.id ap_id,ap.username ap_username,
      au.id au_id,au.username au_username
      from bidrequestaudithistory brh join logininfo ap ON brh.applier_id=ap.id
    LEFT join logininfo au on brh.auditor_id=au.id
    where brh.bidRequestId =#{bidRequestId}
  </select>
</mapper>